<div class="w-6/12 rounded-lg overflow-hidden">
  <div class="bg-blue-400 px-10 py-6 text-2xl">
    <p>Log-In</p>
  </div>
  <form class="bg-blue-300 p-10 flex flex-col gap-2">
    <div class="form_control">
      <label>User name</label>
      <input type="text" placeholder="username"/>
    </div>
    <div class="form_control mb-8">
      <label>Password</label>
      <input type="text" placeholder="password"/>
    </div>
    <div class="form_actions flex justify-end text-xl">
      <button class="bg-green-200 hover:bg-green-300 mr-4">Log-in</button>
      <button class="bg-red-200 hover:bg-red-300">Cancel</button>
    </div>
  </form>
</div>
