<div class="w-8/12 rounded-lg overflow-hidden">
  <div class="bg-blue-400 px-10 py-6 text-2xl">
    <p>Edit product : {{'Hammer'}}</p>
  </div>
  <form class="bg-blue-300 p-10 flex flex-col gap-2">
    <div class="form_control">
      <label>Product Name</label>
      <input type="text" placeholder="product name"/>
    </div>
    <div class="form_control mb-8">
      <label>Product Code</label>
      <input type="text" placeholder="product code"/>
    </div>
    <div class="form_control mb-8">
      <label>Product Description</label>
      <textarea class="min-h-[10rem]" placeholder="product description"></textarea>
    </div>
    <div class="form_actions flex justify-end text-xl">
      <button class="bg-green-200 hover:bg-green-300 mr-4">Save</button>
      <button class="bg-gray-300 hover:bg-gray-400 mr-4">Cancel</button>
      <button class="bg-red-200 hover:bg-red-300">Delete</button>
    </div>
  </form>
</div>
