<header class="flex items-center px-10 py-6 bg-gray-200 rounded-t-lg">
  <p class="mr-10 text-2xl font-bold tracking-wider">Acme product management</p>
  <nav class="flex-1">
    <ul class="flex gap-3 text-xl">
      <li><a>Home</a></li>
      <li><a>Product List</a></li>
      <li><a>Add Product</a></li>
    </ul>
  </nav>
  <div class="text-2xl transition-all text-white bg-gray-400 hover:bg-gray-600 px-12 py-3 rounded-lg">
    <a>Login</a>
  </div>
</header>
<main class="flex-1 flex content-center bg-gray-300 p-10">
  <router-outlet name="home-outlet"></router-outlet>
</main>
<footer class="la afm aha avg bxc cun px-10 py-6 bg-gray-400 rounded-b-lg">
  <p class="awc awo axp">@vishnu kumar</p>
</footer>

